@page "/AddLink"
<h3>Add Links</h3>
<hr />

<form>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="FName" class="control-label">Link Name</label>
                <input form="FName" class="form-control" @bind="@sidebar.LinkName" />
            </div>
            <div class="form-group">
                <label for="LName" class="control-label">Link Address</label>
                <input form="LName" class="form-control" @bind="@sidebar.LinkAddress" />
            </div>
           
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn-btn-primary" @onclick="@InsertLink" value="Save" />
                <input type="button" class="btn-btn-primary" @onclick="@Cancel" value="Cancel" />
            </div>
        </div>
    </div>
</form>


@functions
{
    Sidebar sidebar = new Sidebar();
    private void InsertLink()
    {
        _sidebar.Insert(sidebar);
        _navigation.NavigateTo("Link");
    }
    private void Cancel()
    {
        _navigation.NavigateTo("Link");
    }

}

