
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>One</title>
</head>
<body>
    <div>
        <p>
            Question 01 . What is MVC and Benefits of MVC  ?
        </p>
        <p>
            <strong>MVC</strong> stands for Model-View-Controller. It is an architecture or a software design pattern that makes creating huge applications easy. It does not belong to specific programming language or framework, but it is a concept that you can use in creating any kind of application or software in any programming language.
        </p>
        <p>Advantages of MVC architecture:</p>
        <ol>
            <li>  Development of the application becomes fast.</li>
            <li>  Easy for multiple developers to collaborate and work together.</li>
            <li> Easier to Update the application.</li>
            <li>
                Easier to Debug as we have multiple levels properly written in the application.
            </li>
        </ol>
        @Html.ActionLink("Question 02", "Two")
        @Html.ActionLink("Question 04", "Four")
        @Html.ActionLink("Question 05", "Five")



    </div>
</body>
</html>
