@page "/four"
<h3>Explain all binding .</h3>
<strong>Data Binding </strong>
<p>
    Data binding is one of the most powerful features of software development technologies. Data binding is the connection bridge between View and the business logic (View Model) of the application. Following are the ways of doing data banding with Blazor.
    <ol>
        <li>
            One-way Data Binding
        </li>
        <li>
            Two-way Data Binding
        </li>
        <li>
            Event Binding
        </li>
    </ol>
</p>
<strong>One way Binding</strong>
<p>
    One-way data binding is also known as interpolation in other frameworks, such as Angular. It is very similar to Razor and also it will be quite straightforward. In one-way binding, we need to pass property or variable name along with  i.e. Name (here Name is either the property or variable).
</p>
<strong>Two way Binding</strong>
<p>
    Blazor now supports two-way binding. This can be achieved by using "bind" attribute. The current version of Blazor supports the following types for two-way binding.
    <ol>
        <li>
            string
        </li>
        <li>
            int
        </li>
        <li>
            DateTime
        </li>
        <li>
            Enum
        </li>
        <li>
            bool
        </li>
    </ol>
</p>
<strong>Event Binding</strong>
<p>
    The current version of Blazor, event binding is very limited. Currently, it only supports onclick and on change event. It is under development, so many more event support in the new version. Event binding is done by using function name along with  i.e. ButtonClicked (here ButtonClicked is function name).
</p>