@page "/one"
<h2> Difference between the Blazor client-side and server-side and also explain web assembly and Signal R connection.</h2>
<p>
    Blazor is a client-side web framework, the component logic and DOM interaction both happens in the same process.
    The Client-side blazor works with the web assembly and there is no framework for developing the client side in blazor but will be available soon.
    Blazor Server Side is an ASP.NET Core application type that uses SignalR to connect the client to the server. This allows for a rich, client-side interactivity with just C# code (no JavaScript needed)
</p>
<strong>Web Assembly</strong>
<p>
    WebAssembly, or Wasm for short, is a sandbox that executes bytecode instructions. The instructions are predefined, strongly typed, and encompass a suite of operations that transcend the limitations of JavaScript
</p>
<strong>Signal R</strong>
<p>
    SignalR is a software library for Microsoft ASP.NET that allows server code to send asynchronous notifications to client-side web applications. The library includes server-side and client-side JavaScript components
</p>

