@page "/two"
<h2>What is the component and component parameter?</h2>
<strong>Component</strong>
<p>
    Blazor apps are built using components. A component is a self-contained chunk of user interface (UI), such as a page, dialog, or form. A component includes HTML markup and the processing logic required to inject data or respond to UI events.
</p>

<strong>Component Parameter</strong>
<p>
    In Blazor, you can add parameters to any component which are defined using non-public properties on the component class by decorating that property with [Parameter] attribute.
</p>