
@{
    ViewBag.Title = "ContactUs";
}

<h2>ContactUs</h2>
<div class="line"></div>

<h3>Noida</h3>
<p>

    2nd Floor, NSL Techzone SEZ, Noida-Greater Noida Expressway, Sector 144, Noida, Uttar Pradesh 201306, India<br />

    Tel: +91 120 4601800
</p>

<div class="line"></div>
<h3>USA</h3>
<p>
    To The New Inc
    101 Hudson Street #2100
    Jersey City, NJ 07302

    Tel: +1 (201) 633-2314

</p>

<div class="line"></div>
<h3>DUBAI</h3>
<p>
    Sentro Business Center, Office No:1107 The Onyx,
    Tower 2, The Greens, Sheikh Zayed Road,
    Dubai, U.A.E

    Tel: +971 4 3999496

</p>
