@model IEnumerable<MVC_Project.Models.EntityModels.Mobility>
@{
    ViewBag.Title = "Mobility";
}

<h2>Mobility</h2>
<table class="table">


    @foreach (var item in Model)
    {
        <td>

            <br />
            <h2>@item.Name</h2>
            <br />
            @item.Description
        </td>




    }

</table>


