@model IEnumerable<MVC_Project.Models.EntityModels.Testing>
@{
    ViewBag.Title = "Testing";
}

<h2>Testing</h2>
<table class="table">


    @foreach (var item in Model)
    {
        <td>

            <br />
            <h2>@item.Name</h2>
            <br />
            @item.Description
        </td>




    }

</table>

