
@{
    ViewBag.Title = "Four";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Question 04.</h2>
<p>Explain Layout and how to set layout into view from Controller, View or globally</p>
<p>
    <strong>Layout : </strong>
    Layout is the Design of the page which we want to show to the user.
    We can set layout from the View as <br /> Layout = "~/Views/Shared/_MainLayout.cshtml";
    Or we can add it globally to all the views by adding it to the _viewstart.cshtml file.
    I have implemented it by setting the layout in these pages by adding it globally.
</p>
<p>
    We can add Layout directly from the controller whenn we add a View from the action method.
    We have to select the layout from the pop-up box.
</p>