
@{
    ViewBag.Title = "Five";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

    <h2> What is the use of viewmodel in mvc and  how to pass model view to another partial view. </h2>
<strong>ViewModel : </strong>
<br />
    <p>
        In ASP.NET MVC, ViewModel is a class that contains the fields which are represented in the strongly-typed view. It is used to pass data from controller to strongly-typed view
    </p>
<br />
<p>
   
    Below are few of the methods which you can pass data to Partial View.
    <ol>
        <li>
            Pass data from enclosing View to Partial View.
        </li>
        <li>

            Pass data to Partial View using ViewBag / ViewData.
        </li>
        <li>

            Pass data to Partial View using TempData.
        </li>
        <li>
            Pass data to Partial View using strongly typed model. 
        </li>
    </ol>


</p>

