
@{
    ViewBag.Title = "Four";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

    <h2>Explain Routing and how to use Attribute routing</h2>
    <p>
        ASP.NET MVC routing is a pattern matching system that is responsible for mapping incoming browser requests to specified MVC controller actions, a route is executed by the routing engine and defines a route for a URL
    </p>
<strong>Attribute Routing</strong>
<p>
    Actions which do not have Route attribute for defining attribute-based routing will not be the part of attribute routing. In this way they can’t be access from outside as a URL.
</p>
<br />
<p>
    I have implemented Attribute Routing in the Employee Controller 
    You can check the Employee/{id} where id should be any valid ID from the data entered.

</p>