
@{
    ViewBag.Title = "Two";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>How to pass view from the filter and share one example of IExceptionfilter</h2>
<br />
<p>
    We can pass a view from the filter by implementing its OnExecuting method as I have done in my MyExceptionFilter by inherting the FilterAttribute,IExceptionFilter class .
</p>
<p>Click the below button to see the implmentaion of the Iexception Filter <br />
    It will redirect you to the error page but it is calling MyError action from the Employee Controller.
    </p>


@Html.ActionLink("Click Here ", "MyError", "Employee", htmlAttributes: new { @class = "btn btn-primary", @role = "button" })
