@page "/"
@page "/Login"
@layout LoginLayout
<h3>Login</h3>



<form>
    <div class="container-fluid">
        <div class="col-md-4">
            <div class="form-group">
                <label for="username" class="control-label">User Name</label>
                <input form="username" class="form-control" @bind="@userDetails.Username" />
            </div>
            <div class="form-group">
                <label for="password" class="control-label">Password</label>
                <input type="password" class="form-control" @bind="@userDetails.Password" />
            </div>
          
        </div>
    </div> 
    <div class="container-fluid">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn-btn-primary" @onclick="@submitdata" value="Login" /> &nbsp;&nbsp;&nbsp;
                <a href="Signup"> Sign Up</a>
            </div>
        </div>
    </div>
</form>


@code {

    StudentDBContext context = new StudentDBContext();

    UserDetails userDetails = new UserDetails();

    private void submitdata()
    {
        var details = context.UserDetails.Where(x => x.Username == userDetails.Username && x.Password == userDetails.Password).FirstOrDefault();
        if (details != null)
        {
            _navigation.NavigateTo("/Index");
        }
        else
        {
            _navigation.NavigateTo("/");
        }
    }


}

